.Font {
    font: inherit;
  }  
  
.Line {
    margin-left: 40px;
    line-height: 0.7;
}

.Burger {
    width: 20%;
    margin: auto;
    height: auto;
    overflow: auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

